#content #demo{
	width:960px;
	float:left;
	background-color:#ffffff;
	border-bottom: solid 3px #000000;
	color:#FF0000;
}

#content #demo p{
	margin: 10px 0px;
	padding: 0px;
	color:#FF0000;
	font-size: 1em;
	font-weight:bold;
}

#content #demo a{
	font-size: 1em;
	font-weight:bold;
	color:#FF0000;
	text-decoration:underline;
}

.feedback{
	margin-left: 430px;
	font-size: 1em;
	font-weight:bold;
}


#content #col1{
	width:640px;
	float:left;
	margin-bottom:0px;
}

#content #col1 p {
	margin-left:5px;
	padding:5px 0;
	font-size:0.7em;
	color:#333;
}

#content #col1 .rightfloat{
	margin-left: 180px;
}

#content #col1 .rightfloat a{
	font-size:0.9em;
	text-decoration:underline;
}

#content #col3 {
	width:320px;
	float:left;
	margin-top:0;
}

#content #col3 #tree {
	width:165px;
	float:left;
	margin: 5px 0px 20px 0px;
	padding-right:0px;
}

#content #col3 #points {
	width:155px;
	float:left;
	margin: 5px 0px 20px 0px;
	padding:0px;
}

#content #col3 #trees, #content #col3 #search-tree {
	width:320px;
	margin-top: 5px;
	margin-bottom:20px;
	clear:both;
}


#content #col3 #search-tree #search-box{
	margin-left: 8px;
}


#content #col3 #search_list{
	
	overflow: auto;
	width:300px;
	height:204px;
	border:1px solid #CCC;
	padding-left:2px; 
	margin:0px auto 0px auto;
}




#content #col3 #tree_list{
	 overflow: auto;
	 width:300px;
	 height:102px;
	 border:1px solid #CCC;
	 padding-left:2px; 
	 margin:0px auto 0px auto;
}

#content #col3 .checkbox{
	margin-left:12px;
} 

#content #col3 p,h4{
	margin-left:8px;
	margin-top: 0px;
	padding-top: 0px;
} 

#content #col3 label{
	font-size: 12px;
} 


#map{ 
	width:640px;
	height:620px;
	margin:0px; 
}
	
#buttons{ 
	clear:both;
	text-align:left; 
	margin-top: 0px;
	padding-top:5px;
}

#infobubble{
	font-size:12px;
	height: auto;
	width: 300px;
}

#infobubble h3 {
	margin:0px;
	font-size: 1.2em;
	font-weight:bold;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px 0 5px 0px;
}

#content #infobubble a{
	font-size: 1em;
	margin:0px;
	padding:0px;
	line-height:normal;
}

#infobubble #img{
	float: left;
}

#infobubble #desc{
	float:left;
	margin:0px 0px 0px 20px;
}

#infobubble #desc h3 {
	margin:0px 0px 10px 0px;
	font-size: 1.2em;
	font-weight:bold;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px 0 0px 0px;
}

#infobubble #desc p {
	margin:25px 0px 0px 0px;
	padding:0px;
	font-size:1em;
	color:#333;
}

#infobubble #desc img{
	vertical-align: middle;
	float:left;
}